@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 170 15% 96%; /* Fundo suave baseado no tom */
    --foreground: 170 25% 10%; /* Texto escuro */
    --card: 170 15% 98%; /* Fundo mais claro para cards */
    --card-foreground: 170 20% 15%; /* Texto em cards */
    --popover: 170 15% 98%; /* Mesma cor que o card */
    --popover-foreground: 170 25% 10%;
    --primary: 170 70% 45%; /* Tom próximo ao verde-azulado */
    --primary-foreground: 170 90% 95%; /* Texto claro sobre o tom principal */
    --secondary: 170 20% 90%; /* Azul claro */
    --secondary-foreground: 170 25% 15%;
    --muted: 170 10% 90%; /* Tons suaves e neutros */
    --muted-foreground: 170 15% 45%;
    --accent: 170 50% 60%; /* Verde-água mais forte */
    --accent-foreground: 170 20% 10%;
    --destructive: 0 70% 50%; /* Vermelho harmônico */
    --destructive-foreground: 0 0% 98%;
    --border: 170 10% 85%; /* Bordas suaves */
    --input: 170 10% 85%;
    --ring: 170 70% 45%; /* Destaque no tom principal */
    --radius: 0.5rem; /* Bordas levemente arredondadas */
    --chart-1: 170 60% 50%; /* Gráfico em tons de verde-azulado */
    --chart-2: 170 40% 45%;
    --chart-3: 170 35% 40%;
    --chart-4: 170 50% 60%;
    --chart-5: 170 55% 50%;
  }
  
  .dark {
    --background: 170 15% 10%; /* Fundo escuro */
    --foreground: 170 5% 90%; /* Texto claro */
    --card: 170 15% 12%; /* Fundo dos cards */
    --card-foreground: 170 5% 90%;
    --popover: 170 15% 12%;
    --popover-foreground: 170 5% 90%;
    --primary: 170 70% 45%; /* Mesma cor do tema claro */
    --primary-foreground: 170 90% 95%;
    --secondary: 170 15% 15%;
    --secondary-foreground: 170 5% 90%;
    --muted: 170 15% 15%;
    --muted-foreground: 170 5% 65%;
    --accent: 170 50% 25%; /* Verde-água mais escuro */
    --accent-foreground: 170 5% 90%;
    --destructive: 0 70% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 170 10% 25%;
    --input: 170 15% 25%;
    --ring: 170 70% 45%;
    --chart-1: 170 60% 40%;
    --chart-2: 170 40% 35%;
    --chart-3: 170 35% 30%;
    --chart-4: 170 50% 35%;
    --chart-5: 170 55% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  
}